/* general */

.std-font {
    font-family: var(--std-font);
    font-weight: 400;
}

.header-font {
    font-family: var(--header-font);
    font-weight: 300;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    gap: 1rem;
}

.nav-item {
    color: var(--white);
}

h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;

    min-height: 2rem;
}

a:hover {
    cursor: pointer;

}

a:hover::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 2px;
    background: var(--white);
    position: relative;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}

a:visited {
    color: var(--white);
}

/* header */

.header {
    min-height: 650px;
    color: var(--white);


    background-image: url("./assets/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5rem 10%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu:hover {
    cursor: pointer;
}

.header__h1 {
    width: 60%;
    min-width: 600px;
    padding: 2rem;

    font-size: 5rem;
    border: 2px solid var(--white);
}

/* main */

.main {
    max-width: 1400px;
    margin: auto;
}

/* description */

.description {
    padding: 6rem 10%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.description__hgroup {
    width: 50%;
    min-width: 600px;
    background: var(--white);
    padding: 6rem;
    padding-bottom: 0;

    position: absolute;
    right: 0;
    bottom: 6rem;
}

.description__text {
    color: var(--dark-gray);
}

/* creations */

.creations {
    padding: 6rem 10%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.creations__hgroup {
    display: flex;
    justify-content: space-between;
}

.creations__button {
    padding: 0 2rem;
    border: 1px solid var(--black);
    background: var(--white);
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.creations__button:hover {
    cursor: pointer;
    background: var(--black);
    color: var(--white);
}


.creations__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.grid__item {
    position: relative;
}

.grid__img {
    filter: brightness(0.7);
}

.grid__title {
    width: 100%;
    color: var(--white);
    font-size: 2.5rem;
    padding: 0 2rem;
    
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.grid__item:hover {
    cursor: pointer;
}

.grid__item:hover .grid__img {
    opacity: 20%;
}

.grid__item:hover .grid__title {
    color: var(--black);
}

/* footer */

.footer {
    background: var(--black);
    color: var(--white);

    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__main {
    width: calc(100% - 20%);
    display: flex;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__right-container {
    align-items: flex-end;
}

.footer__logo {
    width: 10rem
}

.footer__social-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__social {
    width: 1.5rem;
}

.footer__copyright-text {
    color: var(--dark-gray);
    font-size: 0.8rem;
}

.footer__attribution {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

/* mobile menu */

.menu {
    width: 100%;
    height: 100%;
    background: var(--black);

    padding :3rem;

    position: fixed;
    z-index: 1;
}

.menu__hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__close:hover {
    cursor: pointer;
}

.menu__nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    text-transform: uppercase;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu__nav-item {
    height: 3.5rem;
    font-size: 2.5rem;
}

/* media queries */

@media screen and (max-width: 1400px) {
    .main {
        width: 1100px;
    }

    .creations__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .main {
        width: 800px;
    }

    .header {
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
    }

    .header__nav {
        width: 100%;
    }

    .header__h1 {
        min-width: 400px;
        font-size: 3.5rem;
    }

    .description {
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        text-align: center;
    }

    .description__img {
        width: 600px;
        height: auto;
    }

    .description__hgroup {
        padding: 0;
        position: static;
        right: auto;
        bottom: auto;
    }

    .creations__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }

    .header {
        background-image: url("./assets/images/mobile/image-hero.jpg");
    }

    .header__h1 {
        min-width: 350px;
        font-size: 3rem;
    }

    .description {
        padding: 2rem;
    }

    .description__img {
        width: 100%;
    }

    .description__hgroup {
        width: 100%;
        min-width: 350px;
    }

    .description__text {
        line-height: 1.8rem;
    }

    .creations {
        align-items: center;
        padding: 2rem;
    }

    .creations__grid {
        width: 100%;
        min-width: 350px;

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .grid__img {
        width: 100%;
    }

    .grid__title {
        width: 70%;
        font-size: 2rem;

        left: 0;
        bottom: 1rem;
        transform: translateX(0);
    }

    .creations__button {
        max-width: 200px;
        min-height: 3rem;
    }

    .footer {
        margin-top: 3rem;
    }

    .footer__main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .footer__nav-container {
        flex-direction: column;
        align-items: center
    }

    .footer__right-container {
        justify-content: center;
        align-items: center;
    }
}